<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar">

  <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/home}">
    <div class="sidebar-brand-icon rotate-n-15">
      <img th:src="@{/img/logo.png}" alt="Logo Clube" width="50" height="50" style="border-radius: 50%;"> </div>
    <div class="sidebar-brand-text mx-3">Clube Admin</div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item">
    <a class="nav-link" th:href="@{/home}">
      <i class="fas fa-fw fa-home"></i> <span>Home</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" th:href="@{/produtos}">
      <i class="fas fa-fw fa-box-open"></i> <span>Produtos</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" th:href="@{/sobre-nos}">
      <i class="fas fa-fw fa-users"></i> <span>Quem Somos</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" th:href="@{/contacto}">
      <i class="fas fa-fw fa-paper-plane"></i> <span>Contatos</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" th:href="@{/carrinho}">
      <i class="fas fa-fw fa-shopping-cart"></i> <span>Meu Carrinho</span></a>
  </li>

  <hr class="sidebar-divider">

  <div sec:authorize="hasRole('ADMIN')">
    <div class="sidebar-heading">
      Administração
    </div>

    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin"
         aria-expanded="true" aria-controls="collapseAdmin">
        <i class="fas fa-fw fa-cogs"></i> <span>Painel Admin</span>
      </a>
      <div id="collapseAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <h6 class="collapse-header">Gestão:</h6>
          <a class="collapse-item" th:href="@{/admin/productos}">Produtos</a>
          <a class="collapse-item" th:href="@{/admin/mensajes}">Mensagens</a>
          <a class="collapse-item" th:href="@{/admin/reportes}">Relatórios</a>
        </div>
      </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">
  </div>

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>

</body>
</html>